<h1>Enter your data</h1>

<%= form_tag inputs_path @battle do %>
<h2>
  Attacking Unit
</h2>
  <%= label_tag "Attacking Models" %> <br />
  <%= number_field_tag "attack_models" %><br />

  <%= label_tag "Shots" %> <br />
  <%= number_field_tag "shots" %><br />

  <%= label_tag "Ballistic Skill" %> <br />
  <%= number_field_tag "ballistic_skill" %><br />

  <%= label_tag "Weapon Strength" %> <br />
  <%= number_field_tag "weapon_strength" %><br />

  <%= label_tag "Damage" %> <br />
  <%= number_field_tag "damage" %><br />

  <%= label_tag "AP Value" %> <br />
  <%= number_field_tag "ap_value" %><br />

<hr />
<h2>
  Defending Unit
</h2>
  <%= label_tag "Defending Models" %> <br />
  <%= number_field_tag "defend_models" %><br />

  <%= label_tag "Toughness" %> <br />
  <%= number_field_tag "toughness" %><br />

  <%= label_tag "Wounds" %> <br />
  <%= number_field_tag "wounds" %><br />

  <%= label_tag "Armour Save" %> <br />
  <%= number_field_tag "armour" %><br />

  <%= label_tag "Invulnerable Save" %> <br />
  <%= number_field_tag "invulnerable" %><br />
<hr />
<h2> Modifiers </h2>
<%= check_box_tag "neg1_to_hit_attack" %>
<%= label_tag "-1 to Hit(attacking models)" %> <br />

<%= check_box_tag "neg1_to_hit_defend" %>
<%= label_tag "-1 to Hit(defending models)" %> <br />

<%= check_box_tag "plus1_to_hit" %>
<%= label_tag "+1 to Hit" %> <br />

<%= check_box_tag "reroll_hits" %>
<%= label_tag "Reroll all failed to hit rolls" %> </br>

<%= check_box_tag "reroll1_hits" %>
<%= label_tag "Reroll all 1s to hit rolls" %> </br>

<%= check_box_tag "reroll_wounds" %>
<%= label_tag "Reroll all failed to wound rolls" %> </br>

<%= check_box_tag "reroll1_wounds" %>
<%= label_tag "Reroll all 1s to wound rolls" %> </br>

<hr />

  <%= label_tag "Number of Complete kills" %> <br />
  <%= number_field_tag "times_run" %><br />

  <%= submit_tag "Go!" %>
<% end %>





<h1>Chart</h1>
<% if !@final_array.nil? %>
<img src="<%= Gchart.bar(:data => @final_array.values , :labels => @final_array.keys, :axis_with_labels => 'y') %>" />
<% end %>



<h1>Raw numbers</h1>
<p><% @total_rounds.each do |round| %>
  <%= round %>
  <% end unless @total_rounds.nil? %>
</p>
