<h1>Chart</h1>
<% if @errors.length > 0 %>
  <h1><%= "Error: " %></h1>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %><br />

<% else %>

  <% if !@final_hash.nil? %>
    <img src="<%= Gchart.bar(:data => @final_hash.values, :labels => @final_hash.keys, :axis_with_labels => 'y') %>" />
  <% end %>



  <h1>Mean: Median: Mode</h1>
  <p><% @final_hash.each do |round| %>
    <%= round %>
    <% end unless @total_rounds.nil? %>
  </p>

  <% if !@died_to_plasma.nil? && @died_to_plasma > 0 %>
    <h1>Number of Models lost to Plasma</h1>
    <p><%= @died_to_plasma %></p>
    <% end %>

    <button type="button" onclick="location.reload()">Fight Again</button><br />
<% end %>
<button onclick="goBack()">Change Units</button>
